body{
    margin: 0;
    

}
.container{
   max-width: 100%; 
   height: auto; 
   /* margin-top: 40px; */
   background-color: #1E1E1E;
   
}
.header{
    width: 100%; 
    height: 100px;
    /* max-width:100%;
    position: fixed;
    top: 0;
    margin: 0;
    left: 0; */
    /* background-color: #5A507F; */
}
.logo{
    width: 30%;
    height: 100%;
    float: left;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} 
.menu{
    width: 70%;
    height: 100%;       
    float: right;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 24px;
    color: white;
    font-size: 25px;
    margin-right: 50px;  
    margin-top: 8px;
    font-family: "Inter", sans-serif;
}
.menu ul li a:hover{
    color: #C837AB;
    border-bottom: solid 1px #C837AB;
}

.box{
    width: 100%; 
    height: 500px;
    position: relative;
}
.text{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.first{
    width: 100%;
    height: 200px;
    color: #FFFFFF;
}
.first h3{
    font-size: 30px;
    margin-left: 230px;
    margin-top: 80px;
}
.box-icon{
    width: 60%;
    height: 100px;
    font-size: 40px;
    margin-left: 80px;
    margin-top: 330px;
    color: #FFFFFF;
}
.box-icon i{
    margin-right: 20px;
}
.image{
    width: 50%;
    height: 100%;
    float: right;
}
.image img{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 60px;
}
.information{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.information span{
    position: absolute;
    top: 40px;
    font-size: 26px;
    border: 2px solid #FFFFFF;
    padding: 5px 25px;
    border-radius: 35px;
}
.information span a{
    color: #FFFFFF;
    text-decoration: none;
}
.information a:hover{
    color: #C837AB;
}
.aboutus{
    width: 100%;
    height: 800px;
}
.title{
    width: 50%;
    height: 100%;
    float: left;
}
.title p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 280px;
    font-size: 25px;
    color: #FFFFFF;
}
.title a{
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #C837AB;
    padding: 6px 20px;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 90px;
}
.imgae{
    width: 50%;
    height: 100%;
    float: right;
}
.box-img{
    width: 50%;
    height: 400px;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 220px;
} 
.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 230px;
}
.box2{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.box-text{
    width: 32%;
    height: 300px;
    background-color: #5A507F;
    display: flex;
    position: relative;
    border-radius: 30px;
}
.cicle{
    width: 50%;
    height: 100px;
}
.cicle img{
    margin-top: 30px;
    margin-left: 20px;
}
.number{
    width: 50%;
    height: 100px;
}
.number h2{
    color: #FFFFFF;
    margin-left: 240px;
    margin-top: 30px;
    font-size: 25px;
}
 .boxxx{
    position: absolute;
    bottom: 60px;
    color: #FFFFFF;
    font-size: 28px;
    margin-left: 20px;
    font-family: "Nunito Sans", sans-serif;
 }
 .boxxx span{
    font-size: 22px;
 }
 .box3{
    width: 100%;
    height: 400px;
    font-family: "Nunito Sans", sans-serif;
 }
 .text-skill{
    width: 100%;
    height: 50px;
 }
 .box3 h1{
    text-align: center;
    color: #FFFFFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 30px;
 }
 .box3-text{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
 }
 .box33{
    width: 35%;
    height: 90%;
    background-color: #5A507F;
    border-radius: 30px;
 }

.icon{
    width: 100%;
    height: 100px;
    text-align: center;
}
.icon i {
    margin-top: 60px;
    font-size: 40px;
    color: #FFFFFF;
}
.full{
    width: 100%;
    height: 180px;
    color: #FFFFFF;
    text-align: center;
    top: 0;
}
.full p{
    font-size: 40px;
}
.full span{
    font-size: 20px;
}
.main{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-image{
    width: 24%;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
}
.main-image p{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
html{
    scroll-behavior: smooth;
}
.main-image1{
    width: 24%;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
}
.main-image2{
    width: 24%;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
}
.main-image3{
    width: 24%;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
}
.main-box{
    width: 100%;
    height: 1000px;
    font-family: "Inter", sans-serif;
}
.box-main{
    width: 100%;
    height: 100%;
}
.box-main h1{
    text-align: center;
    color: #FFFFFF;
}
.box-bar{
    width: 80%;
    height: 150px;
    margin: auto;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    margin-top: 80px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.bar-year{
    width: 25%;
    height: 100%;
}
.bar-year h3{
    font-size: 25px;
    padding: 30px;
    color: #FFFFFF;
    margin-left: 70px;
}
.bar-icon{
    width: 25%;
    height: 100%;
}
.bar-icon i{
    font-size: 30px;
    margin-top: 59px;
    margin-right: 30px;
    color: #FFFFFF;
}
.bar{
    width: 50%;
    height: 100%;
    text-align: center;
    color: #FFFFFF;
}
.bar p{
    font-size: 30px;
}
.bar span{
    font-size: 24px;
}
.section{
    width: 100%;
    height: 1300px;
    font-family: "Nunito Sans", sans-serif;
}
.section h1{
    text-align: center;
    padding: 20px;
    color: #FFFFFF;
    font-size: 34px;
}
.section p{
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
}
.box-section{
    width: 100%;
    height: 450px;
    justify-content: space-around;
    display: flex;
    margin-top: 60px;
}
.section1{
    width: 45%;
    height: 90%;
    border-radius: 30px;
    margin-top: 30px;
}
.section1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.section2{
    width: 100%;
    height: 1000px;
     font-family: "Inter", sans-serif;
}
.section2 h1{
    text-align: center;
    font-size: 34px;
    color: #FFFFFF;

}
.section2-box{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-around;
}
.section2-box1{
    width: 25%;
    height: 90%;
    margin-top: 20px;
    border-radius: 30px;
    margin-left: 230px;
}
.section2-box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.section2-box2{
    width: 49%;
    height: 90%;
    margin-top: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 80px;
}
.section2-box2 p{
    font-size: 40px;
}
.section2-box2 span{
    font-size: 30px;
}
.section3{
    width: 100%;
    height: 750px;
}
.section3 h1{
    text-align: center;
    color: #FFFFFF;
    font-size: 34px;
    margin-top: 30px
}
.labels{
    width: 50%;
    height: 600px;
    margin: auto;

}
.labels label{
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 20px;

}
.labels input{
    padding: 20px;
    width: 90%;
    margin-left: 20px;
    background-color: transparent; 
    border-radius: 20px;
    color: gainsboro;
}
.footer{
    width: 100%;
    height: 500px;
}
.footer h1{
    text-align: center;
    color: #FFFFFF;
    font-size: 34px;
}
.footer-text{
    width: 60%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.footer-home{
    width: 19%;
    height: 100%;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
}
.footer-home p{
    margin-top: 30px;
}
.footer-icon{
    width: 100%;
    height: 100px;
    text-align: center;

}
.footer-icon i{
    font-size: 50px;
    padding: 50px;
    margin-top: -40px;
    color: #FFFFFF;
}
.footer-box{
    width: 100%;
    height: 100px;
}
.footer-box p{
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}
